{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's Share Our Love of Pokemon!</h2>
            <h3>The Most Amazing Pokemon API Out There!</h3>
            <div>
                <button class="bt btn-primary">View It!</button>
                <button class="bt btn-primary">Join Our Slack!</button>
            </div>            
        </div>
        <div class="col-12 col-md-6">
            <img src="../../static/Images/Pokemon-Header.jpg" alt="" class="header-img">
        </div>
    </header>
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection!</h2>
            <p>You can harness teh power of an API to build your ideal team, wether that is based on strength or preference!</p>
            <img src="../../static/Images/group-photo.jpg" alt="">
        </div>
    </section>
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/Images/pikachu.jpg" alt="">
            <h4>Dedicated API Routes!</h4>
            <p>
                If you are a fan of traditional API's, we have those!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/Images/charizard.jpg" alt="">
            <h4>GraphQL API Route</h4>
            <p>If you want all data from one end point we have that too!</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/Images/Volcarona.jpg" alt="">
            <h4>Backed by a PostgreSQL Database!</h4>
            <p>If you want all the data from one endpoint we have that too!</p>
        </div>
    </section>
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="#" alt="" id="Pokemon-Image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded Pokemon collectors!</h4>
            <p>Talk with other Devs around the world and collab on projects with our data.
                Join our Slack channel and give a star to the project on Github
            </p>
            <div>
                <button class="btn btn-primary">Slack</button>
                <button class="btn btn-primary">Github</button>
            </div>
        </div>
    </section>
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="#" alt="">
        </div>
        <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Pokemon?</p>
            <p>The Pokemon Project</p>
            <p>Donate</p>
            <p>Spread the Word!</p>
            <p>Our Process!</p>
        </div>
        </div>
        <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Pokemon?</p>
            <p>The Pokemon Project</p>
            <p>Donate</p>
            <p>Spread the Word!</p>
            <p>Our Process!</p>
        </div>
        </div>
        <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Pokemon?</p>
            <p>The Pokemon Project</p>
            <p>Donate</p>
            <p>Spread the Word!</p>
            <p>Our Process!</p>
        </div>
        </div>
        <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Pokemon?</p>
            <p>The Pokemon Project</p>
            <p>Donate</p>
            <p>Spread the Word!</p>
            <p>Our Process!</p>
        </div>
        </div>
        <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Pokemon?</p>
            <p>The Pokemon Project</p>
            <p>Donate</p>
            <p>Spread the Word!</p>
            <p>Our Process!</p>
        </div>
        </div>
    </footer>
</div>

{% endblock content %}
