{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <aside class="col-12">
            <h2>Search for a Pokemon!</h2>
            {% include 'poke-form.html' %}
        </aside>
    </div>
</main>



<div class="container" id="profile-detail">
    <h3 class="col-5">Welcome {{ current_user.username }} Here are your profile details!</h3>
    <ul class="list-group col-5">
        <li class="list-group-item">username: {{ current_user.username }}</li>
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>
        <li class="list-group-item">Profile Created: {{ current_user.date_created }}</li>
    </ul>
    <div class="col-5">
        <h3>Your team!</h3>
        {% for pokemon in current_user.pokemon %}
        <li class="list-group-item">Pokemon: {{ pokemon }} <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.game_id }}.png" alt="#"> </li>   
        {% endfor %}
    </div>
</div>


{% endblock content %}